{
  "branches": [
    "main"
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
    [
      "semantic-release-replace-plugin",
      {
        "replacements": [
          {
            "files": [
              "README.md"
            ],
            "from": "^  firestore_cache: \\^.*",
            "to": "  firestore_cache: ^${nextRelease.version}",
            "results": [
              {
                "file": "README.md",
                "hasChanged": true,
                "numMatches": 1,
                "numReplacements": 1
              }
            ],
            "countMatches": true
          }
        ]
      }
    ],
    [
      "semantic-release-pub",
      {
        "cli": "flutter"
      }
    ],
    [
      "@semantic-release/npm",
      {
        "npmPublish": false
      }
    ],
    [
      "@semantic-release/git",
      {
        "assets": [
          "CHANGELOG.md",
          "package.json",
          "pubspec.yaml",
          "README.md"
        ]
      }
    ],
    [
      "@semantic-release/github",
      {
        "releasedLabels": false
      }
    ]
  ],
  "preset": "conventionalcommits",
  "presetConfig": {
    "types": [
      {
        "type": "feat",
        "section": "Features"
      },
      {
        "type": "feature",
        "section": "Features"
      },
      {
        "type": "fix",
        "section": "Bug Fixes"
      },
      {
        "type": "perf",
        "section": "Performance Improvements"
      },
      {
        "type": "revert",
        "section": "Reverts"
      },
      {
        "type": "docs",
        "section": "Documentation"
      },
      {
        "type": "style",
        "section": "Styles"
      },
      {
        "type": "chore",
        "section": "Miscellaneous Chores"
      },
      {
        "type": "refactor",
        "section": "Code Refactoring"
      },
      {
        "type": "test",
        "section": "Tests"
      },
      {
        "type": "build",
        "section": "Build System"
      },
      {
        "type": "ci",
        "section": "Continuous Integration"
      }
    ]
  }
}
